<nav class="navbar navbar-brand bg-dark text-white">
  <div class="container">
    <a href="" class="navbar-brand">my app</a>
    <a href="/celular/agregar" class="navbar-brand">Celular</a>
  </div>
</nav>